
<div class = "login">
<%= form_tag :action=>'forgot_password' do %>
  <table align="center" cellspacing="2" cellpadding="3" border=0 class="login_table">
     <tr>
      <td colspan="2" align="center"><h1 class="head">Reset Password</h1></td></tr>
      <tr><th><%= label_tag :email %></th><td><%= text_field_tag :email, params[:email] %></td></tr>
      <tr><th></th><td colspan="2" align="left"><%= submit_tag "Send email" %></td></tr>
  </table>
 <% end %>
</div>