<div class="page-header">
  <h1>User</h1>
</div>
<%= image_tag @user.photo(:small) %>

 <table width="100%">
          <tbody>
            <tr valign="top">
              <td align="left" style="width:190px;text-align:left;">
                <table  style="width:50%;">
                <tr>
                <th>Name</th>
                <td> <%= @user.username %></td></tr>
                <tr><th>Email</th><td><%= @user.email %></td></tr>
              </table>
        </table>
<div class="form-actions">
 
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_user_path(@user), :class => 'btn' %>
 
</div>
