/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.head {
	font-size:30px;
	color:blue;
}
.login {
	font-size:15px;
	color:black;
	float:center;
	padding-top: 50px;
}
.text {font-size:12px;color:blue;}
.link{color:blue;}
.error_messages { font-size:20px;color:red;}

