// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



 table.login_table { 
        border: solid 0.5px #AAA; 
        border-collapse:collapse; 
         width:550px;
      }

